@import 'base/variables';
@import 'base/settings';
@import 'base/mixins';
@import 'base/reset';

body {
  font-family: 'Roboto', sans-serif;
  a {
    text-decoration: none !important;
  }
}

header {
  height: $nav_height;
  @include mobile_l {
    height: auto;
    padding: 15px 0;
  }
  .b-nav {
    .b-nav__logo-block {
      position: relative;
      @include mobile_l {
        text-align: center;
      }
      .b-nav__logo {
        font-family: 'Satisfy', cursive;
        font-size: 36px;
        color: $font_alternate;
        line-height: $nav_lh;
        margin-bottom: 0px;
        letter-spacing: 1px;
      }
      .b-nav__logo-description {
        position: absolute;
        left: 0;
        bottom: -11px;
        font-family: 'Bad Script', cursive;
        font-size: 21px;
        @include mobile_l {
          position: static;
        }
      }
    }
    .b-nav__menu-block {
      .fa-bars {
        display: none;
        @include mobile_l {
          display: block;
          text-align: center;
          margin-top: 20px;
        }
      }
      .b-nav__ul {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: flex-end;
        @include mobile_l {
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          position: fixed;
          top: 148px;
          left: 100%;
          height: 100vh;
          width: 100%;
          background: #fff;
          transition: all .2s ease-in-out;
        }
        .b-nav__li {
          line-height: 85px;
          position: relative;
          @include mobile_l {
            display: block;
            line-height: 45px;
          }
          .b-nav__link {
            padding: 0 15px;
            color: $nav_color;
            transition: all .2s ease-in-out;
            &:hover {
              color: $nav_color_hover;
            }
          }
          i {
            color: $nav_color;
            transition: all .2s ease-in-out;
          }
        }
        .b-nav__li_category {
          margin-right: 5px;
          &:hover > a > i {
            color: $nav_color_hover;
          }
          &:hover > a {
            color: $nav_color_hover;
          }
          .icon_active {
            transform: rotate(180deg);
          }
        }
        .b-nav__ul-child {
          position: absolute;
          transform: translateY(25px);
          visibility: hidden;
          opacity: 0;
          width: 215px;
          padding: 10px;
          border-top: 3px solid $font_alternate;
          border: 1px solid #ccc;
          transition: all .2s ease-in-out;
          z-index: 1;
          background: #fff;
          .b-nav__list-child {
            line-height: 40px;
            position: relative;
            a {
              color: $nav_color;
              &:hover {
                color: $nav_color_hover;
              }
            }
            .b-menu {
              opacity: 0;
              visibility: hidden;
              // display: none;
              top: 0;
              // right: 105%;
              right: 110%;
              width: 750px;
              z-index: 2;
              height: auto;
              padding: 10px;
              position: absolute;
              background: #fff;
              border: 1px solid #e8e8e8;
              transition: all .2s ease-in-out;
              .b-menu__li {
                .b-menu__link {
                  img {
                    width: 100%;
                    height: auto;
                  }
                }
              }
            }
            .b-menu_active {
              opacity: 1;
              visibility: visible;
              // display: block;
              right: 105%;
            }
          }
        }
        .active {
          visibility: visible;
          opacity: 1;
          transform: translateY(0);
        }
      }
    }
    .active_menu {
      left: 0 !important;
    }
  }
}

.b-last-articles {
  height: 350px;
  background: #ccc;
}
.b-main-content {
  height: 650px;
  background: #ccc;
  .b-main-slider {
  }
}
