@import 'base/variables';
@import 'base/settings';
@import 'base/mixins';
@import 'base/reset';

body {
  font-family: 'Roboto Condensed', sans-serif;
  // font-family: 'Roboto', sans-serif;
  // font-family: 'Oswald', sans-serif;
  a {
    text-decoration: none !important;
  }
}

.b-search {
  opacity: 0;
  visibility: hidden;
  background: rgba(255, 255, 255, 0.96);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 6;
  transition: all $seconds ease-in-out;
  &__wrapper {
    width: 640px;
    margin: 10% auto;
    padding: 5px;
    @include mobile_l {
      width: 100%;
      margin: 50% auto;
    }
  }
  &__form {
    position: relative;
  }
  .fa-times {
    position: absolute;
    top: -20px;
    right: -20px;
    cursor: pointer;
    @include mobile_l {
      right: 0;
    }
  }
  &__input {
    border: none;
    background: transparent;
    outline: none;
    border-bottom: 1px solid;
    width: 100%;
    height: 60px;
    padding: 5px 10px;
  }
}

.b-search_active {
  opacity: 1;
  visibility: visible;
}

header {
  height: $nav_height;
  @include mobile_l {
    height: auto;
    padding: 15px 0;
  }
  .b-nav {
    .b-nav__logo-block {
      position: relative;
      @include mobile_l {
        text-align: center;
      }
      .b-nav__logo {
        font-family: 'Satisfy', cursive;
        font-size: 36px;
        color: $font_alternate;
        line-height: $nav_lh;
        margin-bottom: 0px;
        letter-spacing: 1px;
      }
      .b-nav__logo-description {
        position: absolute;
        left: 0;
        bottom: -11px;
        font-family: 'Bad Script', cursive;
        font-size: 21px;
        @include mobile_l {
          position: static;
        }
      }
    }
    .b-nav__menu-block {
      .fa-bars {
        display: none;
        @include mobile_l {
          display: block;
          text-align: center;
          margin-top: 20px;
        }
      }
      .b-nav__ul {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: flex-end;
        @include mobile_l {
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          position: fixed;
          top: 148px;
          left: 100%;
          height: 100vh;
          width: 100%;
          background: #fff;
          transition: all .2s ease-in-out;
          text-align: left;
          z-index: 5;
        }
        .b-nav__li {
          line-height: 85px;
          position: relative;
          @include mobile_l {
            display: block;
            width: 100%;
            line-height: 25px;
          }
          .b-nav__link {
            color: $nav_color;
            padding: 0 15px;
            color: #000;
            display: block;
            transition: all $seconds ease-in-out;
            line-height: 85px;
            @include mobile_l {
              line-height: 45px;
            }
            &:hover {
              color: $nav_color_hover;
            }
          }
          .fa-search {
            cursor: pointer;
            color: $nav_color;
            transition: all $seconds ease-in-out;
            @include mobile_l {
              line-height: 45px;
              padding: 0 15px;
            }
            &:hover {
              color: $nav_color_hover;
            }
          }
          i {
            color: $nav_color;
            transition: all $seconds ease-in-out;
          }
        }
        .b-nav__li_category {
          &:hover > p > i {
            color: $nav_color_hover;
          }
          &:hover > p {
            color: $nav_color_hover;
          }
          .icon_active {
            transform: rotate(180deg);
          }
        }
        .b-nav__ul-child {
          position: absolute;
          right: 0;
          transform: translateY(25px);
          visibility: hidden;
          opacity: 0;
          width: 215px;
          padding: 10px;
          box-shadow: $menu_shadow;
          transition: all $seconds ease-in-out;
          z-index: 1;
          background: #fff;
          @include mobile_l {
            width: 100%;
          }
          .b-nav__list-child {
            line-height: 40px;
            position: relative;
            .b-nav__link-child {
              color: $nav_color;
              cursor: pointer;
              display: block;
              transition: all $seconds ease-in-out;
              @include mobile_l {
                padding: 0 20px;
              }
              &:before {
                opacity: 0;
                content: "";
                background: #000;
                border-radius: 50%;
                width: 5px;
                height: 5px;
                top: 17px;
                transition: all $seconds ease-in-out;
              }
              &:hover {
                color: $nav_color_hover;
                padding-left: 10px;
              }
              &:hover::before {
                opacity: 1;
                position: absolute;
                top: 17px;
                left: 0;
              }
            }
            .b-menu {
              opacity: 0;
              visibility: hidden;
              box-shadow: $menu_shadow;
              // display: none;
              top: -11px;
              right: 105%;
              width: 750px;
              z-index: 2;
              height: auto;
              padding: 10px;
              position: absolute;
              background: #fff;
              transition: all .2s ease-in-out;
              .b-menu__li {
                .b-menu__link {
                  img {
                    width: 100%;
                    height: auto;
                  }
                }
              }
            }
            .b-menu_active {
              opacity: 1;
              visibility: visible;
            }
          }
        }
        .active {
          visibility: visible;
          opacity: 1;
          transform: translateY(0);
        }
      }
    }
    .active_menu {
      left: 0 !important;
    }
  }
}

.b-last-articles {
  &__header {
    padding: 0 10px;
    background: $nav_color_hover;
    line-height: $nav_lh;
    color: #fff;
  }
  &__content {
    background: #fff;
    margin-top: 10px;
    .b-l-article {
      box-shadow: 0 0.0625rem 0.1875rem rgba(0,0,0,0.25);
      margin: 10px 0;
      &__img {
        width: 100%;
      }
      &__description {
        line-height: $nav_lh;
        padding: 0 10px;
      }
    }
  }
}
.b-main-content {
  .b-main-slider {
  }
  .b-main-popular {
    &__header {
      margin-top: 20px;
      padding: 0 10px;
      background: $nav_color_hover;
      line-height: $nav_lh;
      color: #fff;
    }
    &__content {
      margin-top: 10px;
      .b-popular-article {
        width: 97%;
        margin: 3px auto;
        box-shadow: 0 0.0625rem 0.1875rem rgba(0,0,0,0.25);
        a{
          .b-popular-article__img {
            width: 100%;
          }
          .b-popular-article__description {
            min-height: 60px;
            padding: 10px;
          }
        }
      }
    }
  }
}
